*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    background: rgb(34,32,32);
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.container-video {
    width: 800px;
    position: relative;
    overflow: hidden;
}
/* ou est .video sur le dom ? */
.video {
    width: 100%;
}
.controls {
    display: flex;
    position: absolute;
    bottom: 0;
    width: 100%;
    flex-wrap: wrap;
    background: rgba(0,0,0,0.7);
    transform: translateY(90%);
    transition: all 0.3s;
}
.container-video:hover .controls {
    transform: translateY(0);
}
.buttons {
    padding: 5px 10px 10px;
}
.buttons button {
    background: none;
    border: 0;
    outline: 0;
    cursor: pointer;
    color: #fff;
}
#mute {
    position: relative;
    top: -5px;
    margin: 0 12px;
}
#play-pause img {
    width: 30px;
    top: 5px;
}
.barre-orange {
    height: 10px;
    width: 100%;
    background: #000;
    cursor: pointer;
}
.juice {
    height: 10px;
    background-color: orangered;
}
#fullscreen {
    position: absolute;
    right: 15px;
    top: 20px;
}
#fullscreen img {
    width: 20px;
}